.ajout {
  color: white;
  background: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
}