body {
  background-color: black;
  color: white;
  font-family: "Old English Text MT", serif;
  font-size: 24px;
}

table {
  border-collapse: collapse;
  border: 2px solid white;
}

th {
  background-color: #7f7f7f;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
}

td {
  border: 2px solid white;
  padding: 10px;
  text-align: center;
}

input[type="text"], input[type="date"], input[type="checkbox"], textarea {
  background-color: #7f7f7f;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Old English Text MT", serif;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background-color: #7f7f7f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Old English Text MT", serif;
  font-size: 24px;
  margin-top: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: white;
  color: black;
}
